div.where {
    border-left: solid black 1pt;
    display: inline-block;
    white-space: pre-line;
    margin-left: 0.1em;
    padding-left: 0.5em;
    vertical-align: top;
}

div.complex {
    display: inline-block;
    white-space: pre;
    vertical-align: top;
}

span { color: red; }

span.logo {
    font-family: serif; /* fix */
    font-variant: small-caps;
}

span.comb {

}

span.boxed {
  border-top: 1px solid black;
}

span.see {
    font-weight: bolder;
}

span.see span.stub {
    visibility: hidden;
}

span.quad-stub {
    display: inline-block;
}

/* HTML5 does not allow align attribute? Eat this. */
table#pref-table-signatures td:nth-child(1) { text-align: center; }
table#pref-table-signatures td:nth-child(2) { text-align: left; }

table#ch1-table-grammar td:nth-child(1) { text-align: right; }
table#ch1-table-grammar td:nth-child(2) { text-align: center; }
table#ch1-table-grammar td:nth-child(3) { text-align: left; }
table#ch1-table-let-expand {}

table.envtable { border: 1px solid black; }

table.term-def td:nth-child(1) { text-align: right; }
table.term-def td:nth-child(2) { text-align: left; }

table#ch3-eval-stack td:nth-child(1) { float: left; padding-right: 1em; }
table#ch3-eval-stack td:nth-child(2) { float: right; }

table#ch4-box-transform td:nth-child(1) { text-align: right; }
table#ch4-box-transform td:nth-child(2) { text-align: center; }
table#ch4-box-transform td:nth-child(3) { text-align: left; }

table#ch5-table-lambda-syntax td:nth-child(1) { text-align: right; }
table#ch5-table-lambda-syntax td:nth-child(2) { text-align: left; }
table#ch5-table-lambda-syntax td:nth-child(3) { text-align: left; }

table#ch5-table-beta-reduction td:nth-child(1) { text-align: left; }

table#ch5-table-denotation-essence td { text-align: left; }

table#ch5-table-notation td { text-align: left; }

table#ch5-table-domains td:nth-child(1) { text-align: right; }
table#ch5-table-domains td:nth-child(2) { text-align: center; }
table#ch5-table-domains td:nth-child(3) { text-align: left; }

/* code */
code span.special,
pre span.special { color: #CC1212; font-size: 100%; }

code span.syntax,
pre span.syntax { color: #1212CC; font-size: 100%; }

code span.class,
pre span.class { color: #1488CC; font-size: 100%; }

code span.func,
pre span.func { color: #128812; font-size: 100%; }

code span.var,
pre span.var { color: #AA10CC; font-size: 100%; }

code span.hash,
pre span.hash { color: #10AAAA; font-size: 100%; }

code span.num,
pre span.num { color: #AAAA10; font-size: 100%; }

code span.string,
pre span.string { color: #70C070; font-size: 100%; }

code span.string span.pp,
pre span.string span.pp { color: #1070C0; font-size: 100%; }

code span.string span.esc,
pre span.string span.esc { color: #C07010; font-size: 100%; }

code span.comment,
pre span.comment { color: #555555; font-size: 100%; }

code span.highlight,
pre span.highlight { background: #CDCDCD; font-size: 100%; }

code span.fbox,
pre span.fbox { border: 1px solid black; padding: 3px; font-size: 100%; }

code span,
pre span { font-size: 100%; }

pre span.dialect { font-size: 100%; float: right; }
pre span.dialect span.logo { font-size: 100%; }

code.c span.pre,
pre.c span.pre { color: #327710; }

code.c span.macro,
pre.c span.macro { color: #3322CC; }

code.c span.keyword,
pre.c span.keyword { color: #CC2233; }

code.c span.type,
pre.c span.type { color: #A79577; }

pre.shell span.prompt { color: #10BB10; }

pre.shell span.cmd { color: #B88B10; }

pre.shell span.opt { color: #1010BB; }

pre.shell span.arg { color: #307070; }

.math .frac {
  display: inline-block;
  font-size: 300%;
}

.math .frac .numerator {
  border-bottom: 1px solid black;
  display: block;
  padding-bottom: 1px;
  text-align: center;
}

.math .frac .denominator {
  display: block;
  padding-top: 0px;
  text-align: center;
}

.math .sem-brace {
  letter-spacing: -0.125em;
  margin-right: 0.125em;
}

.denotation {
  white-space: pre-line;
}

.math div.valign {
  display: inline-block;
  vertical-align: top;
  white-space: pre-line;
}

.math .syntax {
  font-weight: bold;
}

.math .bf {
  font-weight: bold;
}

.math .overline {
  border-top: 1px solid black;
}

.Vset {
  font-weight: bolder;
}

blockquote.equation span.eqno{
  float: right;
}

table.numbered-source td {
  vertical-align: top;
}

table.numbered-source td.lines {
  text-align: right;
}

table.numbered-source span.lineno {
  color: red;
}
